.search{
    color: #00adef;
  }
  
  .profileImg {
      height: "100px";
      width: "100px"
    }
  .candidateSearch {
      border: "none";
      width: inherit;
    }
    .profle_info{
      display: flex;
      background: #f1f3f4;
  }
  .profile_name{
      font-size: 16px;
      color: #12c2f5;
  }
  .my_card{
      box-shadow: none;
      background: #f1f3f4;
  }
  .my_exp {
      font-weight: 700;
      color: black;
  }
  .col-md-8.my_col{
      padding-left: 20px;
  }
  .my_img{
      height: 29px;
      padding-bottom: 5px;
  }
  .my_imgs{
      height: 31px;
      padding-bottom: 5px;
  }
  .img_pro{
      width: 80px;
      height: 90px;
  }
  .prfile_content{
      display: flex;
  }
  .my_card_body{
      padding:10px 10px 6.8px 0px !important;
      font-weight: 700;
  }
  .my_fa_icons {
      height: 45.8px;
      width: 40px;
      margin: 0 auto;
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .col-md-3.rowodd{
    background: #f1f3f4;
  }
  .my_card.card {
    background: #f1f3f4;
  }
 
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 1360px;
    /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
    z-index: 1;
    left: -156px;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  