.container-fluid{
     background:#f8f8fa;   
}
.profile{
    padding: 20px 0px 0px 0px;
  
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    /* background-clip: border-box; */
    border: none;
    border-radius: 0 !important;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.btn_int{
    width: 110px;
    margin-top: -6px;
    height: 35px;
    color: #00adef;
    border-color: #84949b;
}
.resume{
    color: #00adef;
    font-size: 14px;
}
.img_pro{
    width: 60px;
    height: 60px;
}
.UsreName{
    color: #00adef;
    font-size: 25px;
    font-weight: 400;
}
.Pro_con{
    line-height: 0.3;
    margin-left: 6px;
}
.User_con{
    line-height: 0.3;
}
.login{
  color: #04d10a;
  }
.agency{
  color:  #0c0ce8
}
.reject{
    color:#fe4543;
}
.head_con{
    font-size: 17px;
    font-weight: bold;
    color:#717171; 
}
p{
    font-size: 13px;
    color:  #a6a6a6; 
    font-weight: 500; 
    
}
._con{
    color: black;
}
.exp_con{
    line-height: 0;
    font-size: 30px;
    text-align: center;
    font-weight: 400; 
    color:#707070;
    margin-top: 10px;
}
.icon{
    color:  #a6a6a6;  
}
.yr{
    color: #707070;
    font-size: 11px;
    height: 0px;
}
.align{
    align-items: center;
}
.year_exp{
    border: 1px solid #ddd;
    background: #f8f8fa;
    margin-bottom: 0;
    padding: 5px;
}
.yrexp{
    margin-bottom: 20px;
}
.c_body{
    border-bottom: 1px solid rgba(0,0,0,.125);
}
.skills {
    border: 1px solid #ddd;
    background: #f8f8fa;
    margin-bottom: 0;
    color: black;
    font-size: 15px;
    padding: 5px;
    /* padding-left: 0; */
}
.col-md-2.main {
    padding: 2px;
}
.cb_body{
    margin-bottom: 20px;
}
.item_align{
padding: .60rem !important;
}
.per-details {
    border: 1px solid #ddd;
    margin-bottom: 0;
    font-size: 12px;
    padding: 10px;
    height: 85%;
}
.Doc{
    color: #04d10a;
}
svg#line_2{
    position: absolute;
    top: 50px;
    left: 35px;
    stroke-dasharray: 2px;
}
.resume_screen{
    right: 38px;
    position: absolute;
    top: 8rem;
}
.per_bar{
    font-size: 18px;
    text-align: center;
}
.card-title{
    color: #717171;
    font-weight: bold;
}
.btn-outline-primary {
    color: #0fb3f0  !important;
    border-color: #0fb3f0 !important;
}