.resumet{
    margin-bottom: 20px;
}
.resume-timeline{
    font-size: 17px;
    color: #707070;
    font-weight: bold;
}
.month{
    font-weight: 400;
    margin-top: -7px;
    font-size: 12px;
}
.col-wid{
    width:15%;
}
.line{
    border:1px solid #f56b82;
    border-radius:0 ;
    width: 70%;
    margin-left: 20px;
}
.circle{
    border: 3px solid #f56b82;
    border-radius: 100px;
    width: 12px;
    height: 12px;
    background:  #f56b82;
    position: absolute;
    bottom: 5px;
    left: 40px;
}
.lineone{
    border:1px solid  #61ddbb;
    border-radius:0 ;
    width: 70%;
    margin-left: 20px;  
}
.circleone{
    border: 3px solid #61ddbb;
    border-radius: 100px;
    width: 12px;
    height: 12px;
    background: #61ddbb;
    position: absolute;
    bottom: 5px;
    left: 12.0rem;
}
.linetwo{
    border:1px solid #f198ce;
    border-radius:0 ;
    width: 70%;
    margin-left: 20px;    
}

.circletwo{
    border: 3px solid #f198ce;
    border-radius: 100px;
    width: 12px;
    height: 12px;
    background: #f198ce;
    position: absolute;
    bottom: 5px;
    left: 21.4rem;
}

.linethree{
    border:1px solid #b3e081;
    border-radius:0 ;
    width: 70%; 
    margin-left: 20px;     
}

.circlethree{
    border: 3px solid  #b3e081;
    border-radius: 100px;
    width: 12px;
    height: 12px;
    background:  #b3e081;
    position: absolute;
    bottom: 5px;
    left: 31.0rem;
}

.linefour{
    border:1px solid #b2a4ef;
    border-radius:0 ;
    width: 70%; 
    margin-left: 20px;     
}
.circlefour{
    border: 3px solid   #b2a4ef;
    border-radius: 100px;
    width: 12px;
    height: 12px;
    background:   #b2a4ef;
    position: absolute;
    bottom: 5px;
    left: 40.4rem;
}
.circlefive{
    border: 3px solid   #f198ce;
    border-radius: 100px;
    width: 12px;
    height: 12px;
    background:  #f198ce;
    position: absolute;
    bottom: 5px;
    left: 50.0rem;
}
.circlesix{
    border: 3px solid  #b3e081;
    border-radius: 100px;
    width: 12px;
    height: 12px;
    background:  #b3e081;
    position: absolute;
    bottom: 5px;
    left: 59.4rem;
}
.circleseven{
    border: 3px solid  #b3e081;
    border-radius: 100px;
    width: 12px;
    height: 12px;
    background:  #b3e081;
    position: absolute;
    bottom: 5px;
    left: 69.0rem;
}
.loc{
    color: red;
}
.map-loc{
    font-size: 22px;
    padding: 0px 7px 0px 0px;
}
.mt{
    margin-top:15px
}
.comp{
    color: #a5a5a5;
    font-weight: bold;
    font-size: 12px;
}